{% extends "sdn/base-content.html" %}
{% block content-body %}
    {% if controller_list %}
        <div id="content">
            {% if selected_controller == null %}
                <div class="col-md-10">
                    <form id="form_select_controller" class="form-inline" action="/Aurora/sdn/visualizations/data_plane/controller/view/" method="post" onsubmit="selectController()">{% csrf_token %}
                        <label for="controller_selector">Selected Controller:</label>
                        <select class="form-control" id="controller_selector" name="controller_selector">
                            {% for controller in controller_list %}
                                {% if selected_controller.id == controller.id %}
                                    <option value="{{controller.id}}" selected="selected">{{controller.name}}</option>
                                {% else %}
                                    <option value="{{controller.id}}">{{controller.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">
                            <i class="icon-search"></i> View
                        </button>
                    </form>
                </div>
            {% endif %}

    {% else %}
        <p>No Controllers are available.</p>
    {% endif %}
        </div>
    <script type="text/javascript" src="/Aurora/static/sdn/js/data_plane/select_controller.js"></script>
{% endblock %}
