{% extends "sdn/base-visualization.html" %}
{% block content-body %}
<div id="content">
    <div id="data_plane">
        <div class="row" id="controller_selected_panel">
            <div class="col-md-11">
                <form id="form_select_controller" class="form-inline" action="/AuroraSDN/sdn/visualizations/data_plane/controller/view/" method="post" onsubmit="selectController()">{% csrf_token %}
                    <label for="controller_selector">Selected Controller:</label>
                    <select class="form-control" id="controller_selector" name="controller_selector">
                        {% for controller in controller_list %}
                            {% if selected_controller.id == controller.id %}
                                <option value="{{controller.id}}" selected="selected">{{controller.name}}</option>
                            {% else %}
                                <option value="{{controller.id}}">{{controller.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-search"></i> View
                    </button>
                </form>
            </div>
            <div class="col-md-1 text-center">
                <button id="btn_additional_information_toggle" type="button" class="btn btn-primary" data-toggle="modal" data-target="#informationModal" aria-label="Left Align">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
                <button id="btn_change_configurations_toggle" type="button" class="btn btn-primary" data-toggle="modal" data-target="#configurationsModal" aria-label="Left Align">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>
            </div>

        </div>
        <div class="row" id="controller_memory_panel">
            <div class="col-md-7 offset-col-md-5" id="memory_usage">
                <!--MEMORY USAGE-->
            </div>
        </div>
        <div class="col-md-3 offset-col-md-9">
            <div class='row' id='node_information_panel'>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 id="tooltip_title" class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div id="panel_switch_information" class="panel panel-default text-center">
                            <div class="panel-body">
                                <!-- Switch labels -->
                                <label id="label_switch_dpid" class="col-sm-12 control-label"></label>
                            </div>
                        </div>
                        <div id="panel_host_information" class="panel panel-default text-center">
                            <div class="panel-body">
                                <!-- Host labels -->
                                <label id="label_host_ip_address" class="col-sm-12 control-label"></label>
                                <label id="label_host_mac_address" class="col-sm-12 control-label"></label>
                            </div>
                        </div>
                        <div id="panel_switch_load_level" class="row">
                            <div class="col-sm-12 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Control Channel Load</h3>
                                    </div>
                                    <div class="panel-body">
                                        <label id="label_control_traffic_rate_in" class="col-sm-12 control-label"></label>
                                        <label id="label_control_traffic_rate_out" class="col-sm-12 control-label"></label>
                                        <label id="label_switch_load_percentage" class="col-sm-12 control-label"></label>
                                        <img id="img_switch_load_level" alt="..." class="img-circle">
                                        <label id="label_switch_load_level" class="col-sm-12 control-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panel_switch_resource_level" class="row">
                            <div class="col-sm-12 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title">Resource Usage</h3>
                                    </div>
                                    <div class="panel-body">
                                        <label id="label_data_traffic_rate" class="col-sm-12 control-label"></label>
                                        <label id="label_data_traffic_total" class="col-sm-12 control-label"></label>
                                        <label id="label_rules" class="col-sm-12 control-label"></label>
                                        <label id="label_switch_resource_percentage" class="col-sm-12 control-label"></label>
                                        <img id="img_switch_resource_level" src="/AuroraSDN/static/sdn/img/very_low.png" alt="..." class="img-circle">
                                        <label id="label_switch_resource_level" class="col-sm-12 control-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="chart_panel">
        <div class="col-md-12">
            <div id="chart_container" class="panel panel-primary">
                <div id="chart_panel_header" class="panel-heading">
                    Interactive Network Charts
                </div>
                <div class="panel-body" id="chart_panel_content">
                    <div id="rule_chart">
                        <!--RULE CHART-->
                    </div>
                    <div id="up_traffic_chart">
                        <!--UP TRAFFIC CHART-->
                    </div>
                    <div id="down_traffic_chart">
                        <!--DOWN TRAFFIC CHART-->
                    </div>
                    <div id="up_packets_chart">
                        <!--UP PACKETS CHART-->
                    </div>
                    <div id="down_packets_chart">
                        <!--DOWN PACKETS CHART-->
                    </div>
                </div>
                <div id="chart_panel_footer" class="panel-heading">
                    Visualizations
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid" >
            <div class="row-fluid">
                <div class="span3" id="configurations">
                    <!--Sidebar content-->
                    <div class="spam3" id="packet_counters">
                        <!--PACKET COUNTERS-->
                    </div>
                    <div class="spam3" id="rule_counters">
                        <!--RULE COUNTERS-->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Configurations Modal -->
    <div class="modal fade" id="configurationsModal" tabindex="-1" role="dialog" aria-labelledby="configurationsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="configurationsModalLabel">Configurations Options</h4>
                </div>
                <form id="form_configurations" class="form-horizontal" role="form" action={{configure_url}} method="post">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group form-group-sm">
                            <label for="polling_interval_label" class="col-sm-5 control-label">Polling Interval (sec):</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="polling_interval_selector" name="polling_interval_selector">
                                    {% for i in polling_interval_options %}
                                        {% if polling_interval == i %}
                                            <option value={{i}} selected="selected">{{i}}</option>
                                        {% else %}
                                            <option value={{i}}>{{i}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="polling_interval_slider" class="col-sm-3">

                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="chart_update_label" class="col-sm-5 control-label">Chart Update (sec):</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="chart_update_selector" name="chart_update_selector">
                                    {% for i in chart_update_options %}
                                        {% if chart_update_interval == i %}
                                            <option value={{i}} selected="selected">{{i}}</option>
                                        {% else %}
                                            <option value={{i}}>{{i}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="chart_update_slider" class="col-sm-3">

                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="idle_timeout_label" class="col-sm-5 control-label">Idle Timeout (sec):</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="idle_timeout_selector" name="idle_timeout_selector">
                                    {% for i in idle_options %}
                                        {% if configurations.idle_timeout == i %}
                                            <option value={{i}} selected="selected">{{i}}</option>
                                        {% else %}
                                            <option value={{i}}>{{i}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="idle_timeout_slider" class="col-sm-3">

                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="hard_timeout_label" class="col-sm-5 control-label">Hard Timeout (sec):</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="hard_timeout_selector" name="hard_timeout_selector">
                                    {% for i in idle_options %}
                                        {% if configurations.hard_timeout == i %}
                                            <option value={{i}} selected="selected">{{i}}</option>
                                        {% else %}
                                            <option value={{i}}>{{i}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="hard_timeout_slider" class="col-sm-3">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_cancel_configurations" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="btn_send_configurations" type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-wrench"></i>Configure
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Information Modal -->
    <div class="modal fade " id="informationModal" tabindex="-1" role="dialog" aria-labelledby="informationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="informationModalLabel">Topology Chart Information</h4>
                </div>
                <form id="form_information" class="form-inline" role="form">
                    <div class="modal-body">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">Topology Chart Elements</div>
                            <div class="panel-body">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 control-label">Elements:</label>

                                    <label class="col-sm-1 control-label">Host:</label>
                                    <label class="col-sm-2 text-left">
                                        <img src="/AuroraSDN/static/sdn/img/black.png" width="25" height="25"  alt="..." class="img-circle">
                                    </label>
                                    <label class="col-sm-1 control-label">Switch:</label>
                                    <label class="col-sm-2 text-center">
                                        <img src="/AuroraSDN/static/sdn/img/very_low.png" width="25" height="25"  alt="..." class="img-circle">
                                    </label>

                                    <label class="col-sm-1 control-label">Link:</label>
                                    <label class="col-sm-2 text-left">
                                        <img src="/AuroraSDN/static/sdn/img/gray.png" width="100" height="5"  alt="..." class="img-rounded">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">Control Channel Load</div>
                            <div class="panel-body">
                                <label class="col-sm-12">Description: Proportion of control traffic generated by a switch related to network overall.</label>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-3 control-label">Switch Color/Percentage:</label>
                                    <label class="col-sm-2">Very Low</label>
                                    <label class="col-sm-1 text-left">
                                        <img src="/AuroraSDN/static/sdn/img/very_low.png" width="25" height="25"  alt="..." class="img-circle">
                                        <label>0~4%</label>
                                    </label>
                                    <label class="col-sm-1 text-center">
                                        <img src="/AuroraSDN/static/sdn/img/low.png" width="25" height="25"  alt="..." class="img-circle">
                                        <label>5~9%</label>
                                    </label>
                                    <label class="col-sm-1 text-center">
                                        <img src="/AuroraSDN/static/sdn/img/medium.png" width="25" height="25"  alt="..." class="img-circle">
                                        <label>10~14%</label>
                                    </label>
                                    <label class="col-sm-1 text-center">
                                        <img src="/AuroraSDN/static/sdn/img/high.png" width="25" height="25"  alt="..." class="img-circle">
                                        <label>15~19%</label>
                                    </label>
                                    <label class="col-sm-1 text-center">
                                        <img src="/AuroraSDN/static/sdn/img/very_high.png" width="25" height="25"  alt="..." class="img-circle">
                                        <label>20~100%</label>
                                    </label>
                                    <label class="col-sm-2 text-center">Very High</label>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">Resource Usage</div>
                            <div class="panel-body">
                                <label class="col-sm-12">Description: Proportion of forwarding rules installed on a switch related to the network overall.</label>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-3 control-label">Switch Size/Percentage:</label>
                                    <label class="col-sm-2 text-right">Very Low</label>
                                    <label class="col-sm-1 control-label">
                                        <img src="/AuroraSDN/static/sdn/img/very_low.png" width="20" height="20"  alt="..." class="img-circle">
                                        <label>0~4%</label>
                                    </label>
                                    <label class="col-sm-1 control-label">
                                        <img src="/AuroraSDN/static/sdn/img/very_low.png" width="25" height="25"  alt="..." class="img-circle">
                                        <label>5~9%</label>
                                    </label>
                                    <label class="col-sm-1 control-label">
                                        <img src="/AuroraSDN/static/sdn/img/very_low.png" width="30" height="30"  alt="..." class="img-circle">
                                        <label>10~14%</label>
                                    </label>
                                    <label class="col-sm-1 control-label">
                                        <img src="/AuroraSDN/static/sdn/img/very_low.png" width="35" height="35"  alt="..." class="img-circle">
                                        <label>15~19%</label>
                                    </label>
                                    <label class="col-sm-1 control-label">
                                        <img src="/AuroraSDN/static/sdn/img/very_low.png" width="40" height="40"  alt="..." class="img-circle">
                                        <label>20~100%</label>
                                    </label>
                                    <label class="col-sm-2 text-center">Very High</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/eggplant/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/d3/d3.v3.min.js"></script>
    <!--<script type="text/javascript" src="http://d3js.org/d3.v2.min.js"></script>-->

    <script type="text/javascript">
        var url = "{% url 'sdn-visualization-data_plane-data' selected_controller.id %}";
        var sync_url = "{% url 'resources.controllers.sync' selected_controller.id %}";
    </script>
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/slider.js"></script>
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/accordion.js"></script>
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/data_plane.js"></script>
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/topology_chart.js"></script>
    <!--<script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/donut3D_chart.js"></script>-->
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/bullet_chart.js"></script>
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/rule_chart.js"></script>
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/up_traffic_chart.js"></script>
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/up_packets_chart.js"></script>
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/down_traffic_chart.js"></script>
    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/down_packets_chart.js"></script>

    <script type="text/javascript" src="/AuroraSDN/static/sdn/js/data_plane/select_controller.js"></script>
{% endblock %}
