<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}SDN Interactive Manager{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- jQuery from Google CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

    <!-- Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="/AuroraSDN/static/sdn/img/sdn_interactive_manager.ico" type="image/x-icon">

    <!-- AuroraSDN specific style -->
    <link href="/AuroraSDN/static/sdn/css/style.css" rel="stylesheet">
    <!-- SDN specific style -->
    <link href="/AuroraSDN/static/sdn/css/data_plane.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top aurora-header" role="navigation"><!-- System header -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-login">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/AuroraSDN/">SDN Interactive Manager <sup><small>beta</small></sup></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-login">
          <ul class="nav navbar-nav pull-right">
            <li><a href="https://github.com/ComputerNetworks-UFRGS/AuroraSDN" target="_blank">About</a></li>
            {% if request.user.is_authenticated %}
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user icon-white"></i>
                {{ request.user.first_name }} {{ request.user.last_name }}
              <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Edit Profile</a></li>
                <li class="disabled"><a href="#">Edit Groups</a></li>
                <li class="divider"></li>
                <li><a href="/AuroraSDN/accounts/logout/">Sigsdadasdasdsn Out</a></li>
              </ul>
            </li>-->
            {% endif %}
          </ul>
        </div>
      </div>
    </div><!-- End System header -->
    {% if request.user.is_authenticated %}
    <div class="navbar navbar-inverse navbar-fixed-top navbar-subnav"><!-- Main menu -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <ul class="nav navbar-nav">
            <li class="{% if view_vars.active_menu == "Dashboard" %} active{% endif %}">
              <a href="/AuroraSDN/">
                <span class="glyphicon glyphicon-home"></span>
                Dashboard
              </a>
            </li>
            <li class="dropdown{% if view_vars.active_menu == "Resources" %} active{%endif%}">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-globe"></span>
                <span>Resources</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/AuroraSDN/sdn/resources/controllers/">Controllers</a></li>
                <li><a href="/AuroraSDN/sdn/resources/switches/">Switches</a></li>
                <li><a href="/AuroraSDN/sdn/resources/hosts/">Hosts</a></li>
              </ul>
              </li>
              <li class="dropdown{% if view_vars.active_menu == "Visualizations" %} active{%endif%}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  <span>Visualizations</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/AuroraSDN/sdn/visualizations/data_plane/">Data Plane</a></li>
                </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown{% if view_vars.active_menu == "Visualizations" %} active{%endif%}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="glyphicon glyphicon glyphicon-off"></span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/AuroraSDN/accounts/logout/">Sign Out</a></li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </div><!-- End Main menu -->
    {% endif %}
    {% block content %}{% endblock %}
    <div class="aurora-footer">
      <div class="container">
        <p>&copy; Computer Networks Group - UFRGS</p>
      </div>
    </div>
  </body>
</html>
